POSTGRES_DB=corpKRC
POSTGRES_USER=postgres
POSTGRES_PASSWORD=shruti
DATABASE_URL=jdbc:postgresql://localhost:5432/corpKRC
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=shruti
SEED_USER_PASSWORD_TEMPLATE={first}@123
